/* Reset Styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.7em;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: auto;
}

/* Home Page Styling */
#navbar {
	background: #353535;
	overflow: auto;
}

#navbar #logo {
	float: left;
	color: white;
	padding-top: 14px;
}

#navbar ul {
	float: right;
	list-style-type: none;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #f4f4f4;
	padding: 20px;
}

#navbar ul li a.current, #navbar ul li a:hover {
	color: #f7c08a;
	background-color: #454545;
}

#showcase {
	background-image: url('../img/showcase.jpg');
	background-size: cover;
	background-position: center center;
	min-height: 600px;
	text-align: center;
	margin: 0 auto;
	padding-top: 160px;
}

#showcase h2 {
	font-size: 4em;
	color: white;
	padding-bottom: 10px;
}

#showcase h2 strong {
	color: #f7c08a;
}

#showcase h3 {
	color: white;
	font-size: 1.2em;
	font-weight: 500;
}

#showcase #showcase-btn {
	width: 190px;
	height: 50px;
	display: block;
	color: white;
	background-color: #353535; 
	text-align: center;
	text-decoration: none;
	font-size: 1.1em;
	padding: 12px 10px 10px 10px;
	margin: 30px auto 10px auto;
	cursor: pointer;
}

#showcase #showcase-btn:hover {
	color: #353535;
	background-color: #f7c08a;
}